<header class="p-2 bg-dark text-white shadow-lg">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <a href="/" class="d-flex align-items center mb-2 mb-md-0">
                <img src="/favicon.ico" class="user-select-none" width="40" height="40">
            </a>
            <ul class="e+nav nav col-12 col-md-auto me-md-auto mb-2 mb-md-0 justify-content-center">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/r">Repositories</a>
                </li>
            </ul>
            <form action="/search" class="col-12 col-md-auto mb-3 mb-md-0 me-md-3">
                <div class="input-group input-group-sm">
                    <input id="search" type="search" class="form-control form-control-dark" placeholder="Search" name="q">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>